<html>


    	<head>
    	
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="w3.css">
	<link rel="stylesheet" href="lib/w3-theme-indigo.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
    	
    	<style>
    	body {
    		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003d5b+27,004a60+41,004a60+65,002d3a+77,0e1926+97 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003d5b+27,004a60+41,004a60+54,002d3a+67,003f4c+81,4c676b+93,57747c+98 */
background: rgb(0,61,91); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,61,91,1) 27%, rgba(0,74,96,1) 41%, rgba(0,74,96,1) 54%, rgba(0,45,58,1) 67%, rgba(0,63,76,1) 81%, rgba(76,103,107,1) 93%, rgba(87,116,124,1) 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,61,91,1) 27%,rgba(0,74,96,1) 41%,rgba(0,74,96,1) 54%,rgba(0,45,58,1) 67%,rgba(0,63,76,1) 81%,rgba(76,103,107,1) 93%,rgba(87,116,124,1) 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,61,91,1) 27%,rgba(0,74,96,1) 41%,rgba(0,74,96,1) 54%,rgba(0,45,58,1) 67%,rgba(0,63,76,1) 81%,rgba(76,103,107,1) 93%,rgba(87,116,124,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003d5b', endColorstr='#57747c',GradientType=0 ); /* IE6-9 */




}
    	
    	
   	 #detRetteElement {
 	  width: 930px;
 	  background: red;
 	  color: white;
	 }
	 @media all and (max-width: 930px) {
 	 #detRetteElement {
  	  width: 600px;
     	  background: green;
 	 }
	}
	@media all and (max-width: 620px) {
 	#detRetteElement {
  	 width: 100%;
     	 background: blue;
 	}
       }
           	label {
    		display: inline-block;
    		width: 120px;
    		font-weight: 1000;
    	}
    	
  
    	</style>
    		
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/joystick_view.js"></script>
        
         <script>
         
         
      // If we're running on a real web server (as opposed to localhost, which is whitelisted),
      // then change the protocol to HTTPS.
      // See https://goo.gl/lq4gCo for an explanation as to why this is needed for some features.
      (function() {
        var isLocalhost = !!(window.location.hostname === 'localhost' ||
          // [::1] is the IPv6 localhost address.
          window.location.hostname === '[::1]' ||
          // 127.0.0.1/8 is considered localhost for IPv4.
          window.location.hostname.match(/^127(?:\.(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$/));
        if (window.location.protocol === 'http:' && !isLocalhost) {
          // Redirect to https: if we're currently using http: and we're not on localhost.
          window.location.protocol = 'https:';
        }
      })();
      window.addEventListener('error', function(error) {
        if (ChromeSamples && ChromeSamples.setStatus) {
          ChromeSamples.setStatus(error.message + ' (Nettleseren din støtter ikke Web Bluetooth.)');
          error.preventDefault();
        }
      });
    </script>
    
    </head>
    <body>
    
    
   <center> <script type="text/html" id="joystick-view"> </center>
   <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>" style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
        </canvas>
        
        
        
    </script>

    <div id="joystickContent">
    </div>
    <div>
    
    <!-- <center>  x: <span id="xVal"></span><br/></center>
    // <center>  y: <span id="yVal"></span><br/></center>
    // <center>  xprosent: <span id="xP"></span><br/></center>     
    // <center>  yprosent: <span id="yP"></span><br/></center>
    // <center>  Distance: <span id="distance"></span><br/></center>
    // <center>  Angle: <span id="angle"></span><br/></center>
    // <center>  Value: <span id="Value"></span><br/></center>
    // <center>  Turn: <span id="Turn"></span><br/></center>
    //  <center>  test: <span id="test"></span><br/></center> -->
     
  
    </div>
    
  
      <script type="text/javascript">
    
    	var xVal;     // gjør variblene til en globalverdi
    	var yVal;      // gjør variblene til en globalverdi
    	var distance;    // gjør variblene til en globalverdi
    	var angle;        // gjør variblene til en globalverdi
    	var Turn;
    	var Value; 
        var i=true;
    	var test;
    	
    	
        $(document).ready(function(){
            var joystickView = new JoystickView(300, function(callbackView){     // størelsen på bakre bilde = 300
                $("#joystickContent").append(callbackView.render().el);
                setTimeout(function(){
                    callbackView.renderSprite();
                }, 0);
            });
            joystickView.bind("verticalMove", function(y){
                $("#yVal").html(y);        // lager en id og skriver ut verdiene.
                yVal = Math.floor( y*100); // gjør om yVal verdien til prosent
            });
            joystickView.bind("horizontalMove", function(x){
                $("#xVal").html(x);        // lager en id og skriver ut verdiene
                
               	xVal = Math.floor(x*100);   // gjør om xVal verdien til prosent
            });
        });
        
        $('#joystickContent').on('touchmove mousemove', function() {
        
        	 if (xVal== null)       // setter xVal = 0 før vi bruker joystick
                	xVal = 0;
                 if (yVal== null)        // setter yVal = 0 før vi bruker joystick
                	yVal = 0;    
                	
                distance = Math.round(Math.sqrt ((xVal * xVal) + (yVal * yVal)), 1);   // regner ut avstand fra senter
                angle = Math.round(Math.acos(xVal / distance)*180/Math.PI, 1);         // regner ut vinkelen
           	 
           	if(i==true){
           		
           	drive();
           	function drive(){ 
			'use strict';
                         test = angle;
                          
			if	(myCharacteristic) {
			// log('> kjører');
				let Tall = new Uint8Array([Value], [240]);
						
					
						i = false;
						myCharacteristic.writeValue(Tall)
						.then(i=true)
							
					}
						
						
			}
				
		}; //fjern etterhvert 
           
        	
           
           
            if (yVal < 0)
                	angle = 360 - angle;                                          // for å få skalaen fra 0 til 360
                	
           if (angle > 337 && angle <= 360 ){
                 Turn = 1;
           }
            if (angle > 0 && angle <= 22 ){
                 Turn = 1;
           }
                
              if (angle > 23 && angle <= 77 ){
                 Turn = 2;
              }
              	
              if (angle > 78 && angle <= 112 ){
                Turn = 3;
              }
              if (angle > 113 && angle <= 157 ){
                 Turn = 4; 
              }
              if (angle > 158 && angle <= 202 ){
                 Turn = 5;
              }
              if (angle > 203 && angle <= 247 ){
              	Turn = 6
              }
              if (angle > 248 && angle <= 292 ){
              	Turn = 7;
              }
              if (angle > 293 && angle <= 337 ){
              	Turn = 8; 
              }
              
              if (distance <= 70){
              	
              	Value = Turn;
              }
              if (distance > 70)
              
              	Value = Turn + 10;
              	
              if (distance == 0)
              
              	Value = 0;
              
              
        
        	console.log ('x-verdi: ' + xVal);      // viser xVal på console
        	console.log('y-verdi: ' + yVal);          // viser yVal på console
        	
        	$('#angle').html(angle);         // Lager id og viser verdiene
        	$('#distance').html(distance);   // Lager id og viser verdiene
        	$('#xP').html(xVal + "%");       // Lager id og viser verdiene
        	$('#yP').html(yVal + "%");       // Lager id og viser verdiene
        	$('#Turn').html(Turn);
        	$('#Value').html(Value);
        	$('#test').html(test);
        	
        });
        $('#joystickContent').on('touchend mouseup', function() {
           xVal = 0;                      // setter xVal = 0 når vi slipper joystick
           yVal = 0;                         // setter yVal = 0 når vi slipper joystick
           distance = 0;
           angle = 0;
           Turn = 0;
           Value = 0;
           
           if(i==true){
           		
           	stop();
           	function stop(){ 
			'use strict';
                         test = angle;
                          
			if	(myCharacteristic) {
			//	log('> kjører');
				let Tall = new Uint8Array([Value], [240]);
						
					
						i = false;
						myCharacteristic.writeValue(Tall)
						.then(i=true)
							
					}
						
						
			}
				
		}; 
           
           $('#angle').html(angle);             // Lager id og viser verdiene
           $('#distance').html(distance);      // Lager id og viser verdiene
           $('#xP').html(xVal + "%");         //lager id og henter verdi
           $('#yP').html(yVal + "%");        //lager id og henter verdi
           $('#Turn').html(Turn);
           $('#Value').html(Value);
           $('#test').html(test);
        });	
        </script>
    	
 <form>
 
   		
<button class="w3-btn w3-round-large w3-border w3-border-blue w3-text-shadow w3-round" id="connect" >Koble til enhet    <i class="material-icons w3-large">settings_bluetooth</i></button>

 </form>	
	
<button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-round-large w3-border w3-border-blue w3-text-shadow w3-round">PID-innstillinger  <i class="material-icons w3-large">settings</i></button>   
   

 <footer class="w3-container w3-bottom">
     <div align="center" class=w3-padding-small></div><p><img src="logo_ntnu_bokm-sample-a.png" width=100 height=35><img src="200px-Nordic_Semiconductor_logo.png" width=80 height=45><br>
    </p></div></footer>
    
   
   
<body class="w3-container"  style="background-color:#003d66">
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom w3-border w3-border-blue w3-round" style="background-image:url(modal2.png)">
    <header class="w3-container w3-text-white w3-text-shadow" style="background-color:#007acc"> 
      <span onclick="document.getElementById('id01').style.display='none'" 
      class="w3-closebtn">&times;</span>
      
      <h2>PID-innstillinger <i class="material-icons w3-large">settings </i></h2>
          </header>
          
          
 <head>         
 <style>  
 .a,.b{  
  display:inline-block;
  position: relative;
  float:left;
  width:14%;
  height:30;
  }
   .c,.d{  
  display:inline-block;
  position: relative;
  float:left;
  width:14%;
  height:30;
  }
   .e,.f{  
  display:inline-block;
  position: relative;
  float:left;
  width:14%;
  height:30;
  }
   </style>
    </head>   
    
 <div class="w3-container w3-text-shadow" align="center">
    
    	
    	
    
<div class="a">	
     
     <form id='myform' method='POST' action='#'>                           <!--nytttt -->
    <br><input type='button' value='-' class='qtyminus w3-btn w3-round-large w3-border w3-border-blue w3-text-shadow' field='pverdi' />	     <!--  nytt -->
    	<input type="number" name="pverdi" value="3" min="0" max="9.9" class="w3-large w3-round-large w3-border w3-border-blue"step="0.1" style="width:50px">
    	<input type='button' value='+' class='qtyplus w3-btn w3-round-large w3-border w3-border-blue w3-text-shadow' field='pverdi' /> </form>  
        </div>
        <div class="b">
        <button id="sendkp" onclick="sendkp()" class="w3-btn w3-round-large w3-small w3-border w3-border-blue w3-text-shadow">send P</button>
   	</div><br>
   
<div class="c">	   	
   <form id='myform' method='POST' action='#'>                             <!--nytt -->
   	<input type='button' value='-' class='qtyminus w3-btn w3-round-large w3-border w3-border-blue w3-text-shadow' field='iverdi' />
   	<input type="number" name="iverdi" value="3" min="0" max="7.9" class="w3-large w3-round-large w3-border w3-border-blue" style="width:50px">
   	<input type='button' value='+' class='qtyplus w3-btn w3-round-large w3-border w3-border-blue w3-text-shadow' field='iverdi' />   </form>   <!--nytt-->
        </div>
        <div class="d">
        <button id="sendki" onclick="sendki()" class="w3-btn w3-round-large w3-small w3-border w3-border-blue w3-round w3-text-shadow">send I</button>
   	</div><br>
   
   <div class="e">	
   <form id='myform' method='POST' action='#'>                             <!--nytt -->
   	<input type='button' value='-' class='qtyminus w3-btn w3-round-large w3-border w3-border-blue w3-text-shadow' field='dverdi' />	     <!--  nytt --> 
   	<input type="number" name="dverdi" value="1" min="0" max="5.5" class="w3-large w3-round-large w3-border w3-border-blue" style="width:50px">
   	<input type='button' value='+' class='qtyplus w3-btn w3-round-large w3-border w3-border-blue w3-text-shadow' field='dverdi' />  </form>    <!--nytt-->
        </div>
        <div class="f">
        <button id="sendkd" onclick="sendkd()" class="w3-btn w3-round-large w3-small w3-border w3-border-blue w3-round w3-text-shadow">send D</button>
   	</div>
   </div>

<script>

//nytt

jQuery(document).ready(function(){                   
    // This button will increment the value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseFloat($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            
            $('input[name='+fieldName+']').val((Math.round((currentVal + 0.1)*10)/10));
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseFloat($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val((Math.round((currentVal - 0.1)*10)/10));
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});                                                           

//nytt

// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


</body>



	<script>
	
		  var ChromeSamples = {
			log: function() {
			  var line = Array.prototype.slice.call(arguments).map(function(argument) {
				return typeof argument === 'string' ? argument : JSON.stringify(argument);
			  }).join(' ');
			  document.querySelector('#log').textContent += line + '\n';
			},
			clearLog: function() {
			  document.querySelector('#log').textContent = '';
			},
			setStatus: function(status) {
			  document.querySelector('#status').textContent = status;
			},
			setContent: function(newContent) {
			  var content = document.querySelector('#content');
			  while(content.hasChildNodes()) {
				content.removeChild(content.lastChild);
			  }
			  content.appendChild(newContent);
			}
		  };
		</script>
		
		
		<div id="output" class="output">
		  <div id="content"></div>
		  <div id="status"></div>
		  <pre id="log"></pre>
		</div>
		
                <script>
          		var myCharacteristic;
      			
      			 // Søker etter enheter
      			function onFormSubmit() {
				  'use strict';
				  let serviceUuid = "6e400001-b5a3-f393-e0a9-e50e24dcca9e";
				  if (serviceUuid.startsWith('0x')) {
					serviceUuid = parseInt(serviceUuid, 16);
				  }
				  let characteristicUuid = "6e400002-b5a3-f393-e0a9-e50e24dcca9e";
				  if (characteristicUuid.startsWith('0x')) {
					characteristicUuid = parseInt(characteristicUuid, 16);
				  }
				// log('Søker etter enheter med valgt service og characteristic...');
				  navigator.bluetooth.requestDevice({filters: [{services: [serviceUuid]}]})
				  .then(device => device.connectGATT())
				  .then(server => server.getPrimaryService(serviceUuid))
				  .then(service => service.getCharacteristic(characteristicUuid))
				  .then(characteristic => {
				  		myCharacteristic = characteristic;
				  	//	log('> Tilkoblet enhet. Segway kan nå styres.');
				  		document.getElementById("connect").innerHTML = "Tilkoblet";
					})
				  .catch(error => {
					log('Feil ' + error);
				  });
				}
				
				
				
				function sendkp () {
				  'use strict';
						
					var Kpverdi = document.getElementsByName("pverdi")[0].value;
					var Kp = Kpverdi * 10 + 20;
					if(myCharacteristic) {
					//	log('> sender kp!');
						let Tall = new Uint8Array([Kp], [240]);
						
						myCharacteristic.writeValue(Tall);
						
					}
				};
				
				function sendki () {
				  'use strict';
						
					var Kiverdi = document.getElementsByName("iverdi")[0].value;
					var Ki = Kiverdi * 10 + 120;
					if(myCharacteristic) {
				//		log('> sender ki!');
						let Tall = new Uint8Array([Ki], [240]);
						
						myCharacteristic.writeValue(Tall);
						
					}
				};
				function sendkd () {
				  'use strict';
						
					var Kdverdi = document.getElementsByName("dverdi")[0].value;
					var Kd = Kdverdi * 10 + 200;
					if(myCharacteristic) {
					//	log('> sender kd!');
						let Tall = new Uint8Array([Kd], [240]);
						
						myCharacteristic.writeValue(Tall);
						
					}
				};
				
				
				</script>
				
			
        	
	<script>
  document.querySelector('form').addEventListener('submit', function(event) {
    event.stopPropagation();
    event.preventDefault();
    if (!navigator.bluetooth) {
      ChromeSamples.setStatus('Web Bluetooth API er ikke tilgjengelig.\n' +
        'Husk å aktivere Web Bluetooth-flagget: chrome://flags');
    } else {
      ChromeSamples.clearLog();
      onFormSubmit();
    }
  });
  log = ChromeSamples.log;
</script>	
 
    
    
    </body>
</html>
