<html>

    	<head>
    	
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    		
    	<style>
	 #detRetteElement {
 	  width: 930px;
 	  background: red;
 	  color: white;
	 }
	 @media all and (max-width: 930px) {
 	 #detRetteElement {
  	  width: 600px;
     	  background: green;
 	 }
	}
	@media all and (max-width: 620px) {
 	#detRetteElement {
  	 width: 100%;
     	 background: blue;
 	}
       }
           	label {
    		display: inline-block;
    		width: 120px;
    		font-weight: 1000;
    	}
    	
button {
    		padding: 10px;
    		margin-right: 30px;
    		border: 1px solid white;
    		font-weight: 700;
    		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    	}
    	.button-container {
    		margin: 0 auto;
			width: 300px;
			text-align: center;
		    	}
		    	
    	#connect {
    		color: #ecf2f9;
    		margin-top: 20px;
    		margin-bottom: 20px;
    		background-color: #1f1f14;
    	}
    	
    	
	</style>
    		
    		
    		
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/joystick_view.js"></script>
        
         <script>
         
         
      // If we're running on a real web server (as opposed to localhost, which is whitelisted),
      // then change the protocol to HTTPS.
      // See https://goo.gl/lq4gCo for an explanation as to why this is needed for some features.
      (function() {
        var isLocalhost = !!(window.location.hostname === 'localhost' ||
          // [::1] is the IPv6 localhost address.
          window.location.hostname === '[::1]' ||
          // 127.0.0.1/8 is considered localhost for IPv4.
          window.location.hostname.match(/^127(?:\.(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$/));
        if (window.location.protocol === 'http:' && !isLocalhost) {
          // Redirect to https: if we're currently using http: and we're not on localhost.
          window.location.protocol = 'https:';
        }
      })();
      window.addEventListener('error', function(error) {
        if (ChromeSamples && ChromeSamples.setStatus) {
          ChromeSamples.setStatus(error.message + ' (Nettleseren din støtter ikke Web Bluetooth.)');
          error.preventDefault();
        }
      });
    </script>
    
    </head>
    <body>


   <center> <script type="text/html" id="joystick-view"> </center>
   <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>" style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
        </canvas>
    </script>

    <div id="joystickContent">
    </div>
    <div>
     
      <center>  x: <span id="xVal"></span><br/></center>
      <center>  y: <span id="yVal"></span><br/></center>
      <center>  xprosent: <span id="xP"></span><br/></center>     
      <center>  yprosent: <span id="yP"></span><br/></center>
      <center>  Distance: <span id="distance"></span><br/></center>
      <center>  Angle: <span id="angle"></span><br/></center>
      <center>  Value: <span id="Value"></span><br/></center>
      <center>  Turn: <span id="Turn"></span><br/></center>
       <center>  Test: <span id="Test"></span><br/></center>
      
      
   
      
      
    </div>
    
  
      <script type="text/javascript">
    
    	var xVal;     // gjør variblene til en globalverdi
    	var yVal;      // gjør variblene til en globalverdi
    	var distance;    // gjør variblene til en globalverdi
    	var angle;        // gjør variblene til en globalverdi
    	var Turn;
    	var Value; 
        var i;
    	var test;
    	
    	
        $(document).ready(function(){
            var joystickView = new JoystickView(300, function(callbackView){     // størelsen på bakre bilde = 300
                $("#joystickContent").append(callbackView.render().el);
                setTimeout(function(){
                    callbackView.renderSprite();
                }, 0);
            });
            joystickView.bind("verticalMove", function(y){
                $("#yVal").html(y);        // lager en id og skriver ut verdiene.
                yVal = Math.floor( y*100); // gjør om yVal verdien til prosent
            });
            joystickView.bind("horizontalMove", function(x){
                $("#xVal").html(x);        // lager en id og skriver ut verdiene
                
               	xVal = Math.floor(x*100);   // gjør om xVal verdien til prosent
            });
        });
        
        $('#joystickContent').on('touchmove mousemove', function() {
        
        	 if (xVal== null)       // setter xVal = 0 før vi bruker joystick
                	xVal = 0;
                 if (yVal== null)        // setter yVal = 0 før vi bruker joystick
                	yVal = 0;    
                	
                distance = Math.round(Math.sqrt ((xVal * xVal) + (yVal * yVal)), 1);   // regner ut avstand fra senter
                angle = Math.round(Math.acos(xVal / distance)*180/Math.PI, 1);         // regner ut vinkelen
           test = 5000;
           
           function drive ()    {
				  'use strict';
                                       
				     if	(myCharacteristic) {
						log('> kjører');
						let Tall = new Uint8Array([1], [240]);
						
						if(i==true){
						i = false;
						myCharacteristic.writeValue(Tall)
						.then(i=true)
							
						}
						
						
					}
				
				}; //fjern etterhvert
           
           
            if (yVal < 0)
                	angle = 360 - angle;                                          // for å få skalaen fra 0 til 360
                	
           if (angle > 337 && angle <= 360 ){
                 Turn = 1;
           }
            if (angle > 0 && angle <= 22 ){
                 Turn = 1;
           }
                
              if (angle > 23 && angle <= 77 ){
                 Turn = 2;
              }
              	
              if (angle > 78 && angle <= 112 ){
                Turn = 3;
              }
              if (angle > 113 && angle <= 157 ){
                 Turn = 4; 
              }
              if (angle > 158 && angle <= 202 ){
                 Turn = 5;
              }
              if (angle > 203 && angle <= 247 ){
              	Turn = 6
              }
              if (angle > 248 && angle <= 292 ){
              	Turn = 7;
              }
              if (angle > 293 && angle <= 337 ){
              	Turn = 8; 
              }
              
              if (distance <= 50){
              	
              	Value = Turn;
              }
              if (distance > 50)
              
              	Value = Turn + 10;
              	
              if (distance == 0)
              
              	Value = 0;
              
              
                 
               
               
                
        
        	console.log ('x-verdi: ' + xVal);      // viser xVal på console
        	console.log('y-verdi: ' + yVal);          // viser yVal på console
        	
        	$('#angle').html(angle);         // Lager id og viser verdiene
        	$('#distance').html(distance);   // Lager id og viser verdiene
        	$('#xP').html(xVal + "%");       // Lager id og viser verdiene
        	$('#yP').html(yVal + "%");       // Lager id og viser verdiene
        	$('#Turn').html(Turn);
        	$('#Value').html(Value);
        	$('#test').html(test);
        	
        });
        $('#joystickContent').on('touchend mouseup', function() {
           xVal = 0;                      // setter xVal = 0 når vi slipper joystick
           yVal = 0;                         // setter yVal = 0 når vi slipper joystick
           distance = 0;
           angle = 0;
           Turn = 0;
           Value = 0;
           
           $('#angle').html(angle);             // Lager id og viser verdiene
           $('#distance').html(distance);      // Lager id og viser verdiene
           $('#xP').html(xVal + "%");         //lager id og henter verdi
           $('#yP').html(yVal + "%");        //lager id og henter verdi
           $('#Turn').html(Turn);
           $('#Value').html(Value);
           $('#test').html(test);
        });	
    </script>
    	
      		<form>
      		
		 <br> <div></p><b><label for="service">Service: </label></b><input id="service" type="text" list="services" autofocus placeholder="Bluetooth Service" value="6e400001-b5a3-f393-e0a9-e50e24dcca9e"></div></br>
		  <div><b><label for="service">Characteristic: </label></b><input id="characteristic" type="text" list="characteristics" placeholder="Bluetooth Characteristic" value="6e400002-b5a3-f393-e0a9-e50e24dcca9e"></div>
	       
		  <br><div><button id="connect" >Koble til enhet</button></div></br>
		
		</form>
	
	<script>
		  var ChromeSamples = {
			log: function() {
			  var line = Array.prototype.slice.call(arguments).map(function(argument) {
				return typeof argument === 'string' ? argument : JSON.stringify(argument);
			  }).join(' ');
			  document.querySelector('#log').textContent += line + '\n';
			},
			clearLog: function() {
			  document.querySelector('#log').textContent = '';
			},
			setStatus: function(status) {
			  document.querySelector('#status').textContent = status;
			},
			setContent: function(newContent) {
			  var content = document.querySelector('#content');
			  while(content.hasChildNodes()) {
				content.removeChild(content.lastChild);
			  }
			  content.appendChild(newContent);
			}
		  };
		</script>
		
		
		<div id="output" class="output">
		  <div id="content"></div>
		  <div id="status"></div>
		  <pre id="log"></pre>
		</div>
		
                <script>
          		var myCharacteristic;
      			
      			 // Søker etter enheter
      			function onFormSubmit() {
				  'use strict';
				  let serviceUuid = document.getElementById('service').value;
				  if (serviceUuid.startsWith('0x')) {
					serviceUuid = parseInt(serviceUuid, 16);
				  }
				  let characteristicUuid = document.getElementById('characteristic').value;
				  if (characteristicUuid.startsWith('0x')) {
					characteristicUuid = parseInt(characteristicUuid, 16);
				  }
				  log('Søker etter enheter med valgt service og characteristic...');
				  navigator.bluetooth.requestDevice({filters: [{services: [serviceUuid]}]})
				  .then(device => device.connectGATT())
				  .then(server => server.getPrimaryService(serviceUuid))
				  .then(service => service.getCharacteristic(characteristicUuid))
				  .then(characteristic => {
				  		myCharacteristic = characteristic;
				  		log('> Tilkoblet enhet. Segway kan nå styres.');
					})
				  .catch(error => {
					log('Feil ' + error);
				  });
				}
				
			                
				
				</script>
	<script>
  document.querySelector('form').addEventListener('submit', function(event) {
    event.stopPropagation();
    event.preventDefault();
    if (!navigator.bluetooth) {
      ChromeSamples.setStatus('Web Bluetooth API er ikke tilgjengelig.\n' +
        'Husk å aktivere Web Bluetooth-flagget: chrome://flags');
    } else {
      ChromeSamples.clearLog();
      onFormSubmit();
    }
  });
  log = ChromeSamples.log;
</script>	
 
    
    </body>
</html>
